.u-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.u-header {
    height: 40;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.u-title {
    font-size: 1.8em;
}

.u-control {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.u-search, .u-sort {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.u-search input {
    width: 90%;
    height: 22px;
    border: 1px solid #333;
    border-radius: 3px;
    outline: none;
}

.u-sort select {
    width: 90%;
    height: 27px;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.u-sort select option {
    background-color: rgb(0, 0, 255, .8);
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.u-search, .u-sort label {
    width: 150px;
}

.u-header-detail:nth-child(odd) {
    background-color: rgb(204, 204, 204, .15);
}

.u-header-detail {
    border: 1px solid rgba(4, 4, 4, .2);
    padding: 10px;
}

.u-profile-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.u-profile-details a {
    color: blue;
    cursor: pointer;
}

.u-profile {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.u-profile-name {
    min-width: 200px;
    max-width: 220px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.u-profile-photo {
    font-size: 3em;
    color: rgba(3, 3, 3, .6);
    height: 40px;
    display: flex;
    align-items: center;
}

.u-profile-username {
    min-width: 200px;
    max-width: 250px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.u-profile-email, a {
    color: blue;
    text-decoration: none;
}

.u-profile-details {
    font-size: 0.9em;
}

@media (max-width: 600px) {
    .u-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .u-title {
        margin-bottom: 5px;
    }
    .u-profile {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
        min-width: 150px;
        max-width: 350px;
    }
    .u-profile-photo {
        width: 80px;
    }
    
    .u-profile-email {
        margin-left: 63px;
    }

    .u-profile-email-cst {
        margin-left: 10px;
    }

    .u-header-detail {
        padding-left: 0px;
    }

    .u-control {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .u-search, .u-sort {
        width: 100%;
    }

    .u-search > input {
        width: 98%;
    }

    .u-sort > select {
        width: 100%;
        height: 30px;
    }
}